.MainContainer {
  width: 85%;
  margin: 2% auto;
  background-color: #fff;
  display: flex;
}

.blue {
  background-color: #54c3ef;
}

*{
    /* margin: 0; */
    box-sizing: border-box;
    /* font-family: sans-serif; */
}